* {
    
}

body {
    
}

header h2 {
    color: antiquewhite;
}

h1 {

}

h2 {
    
}

body {
    /* Location of the image for page */
    background-image: url("media/lakeMiTall.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

body h1 {
    color: antiquewhite;
}